body {
    padding: 50;
    margin: 0;
    background: #eae3ea;
}
.container-fluid {
    background:#cda34f;
}

.navbar-brand {
    color: #e9e7da;
    cursor: pointer;
}
.navbar-brand:hover {
    color:#636b46;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #636b46;
}
.navbar-collapse {
    justify-content: flex-end;
}
.description {
    left: 50%; 
    position: absolute;
    top: 25%;
    transform: translate(-50%, -55%);
    text-align: center;
}
.description h1 {
    color: #373f27;
    font-size: 400;
}

.btn {
    background-color:#cda34f;
    color: #e9e7da;
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.btn:hover {
    background-color:#636b46;
}

.video {
    position: absolute;
    top: 45%;
    text-align: center;
    left: 35%;
}

.col {
    top: 75%;
    left: 50%;
    background-color: #373f27;
    color:#e9e7da;
    text-align: center;
}