body {
    padding: 50;
    margin: 0;
    background: #eae3ea;
}
.navbar {
    background:#cda34f;
}
.nav-link,
.navbar-brand {
    color: #e9e7da;
    cursor: pointer;
}
.navbar-brand:hover {
    color:#636b46;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #636b46;
}
.navbar-collapse {
    justify-content: flex-end;
}
.description { 
    color: #cda34f;
    font-size: 400;
    position: absolute;
    top: 15%; 
    left: 40%; 
    text-align: center;
}
.card-1 {
    position: absolute;
    top: 50%;
    left: 15%;
}

.card-2 {
    position: absolute;
    top: 50%;
    left: 42%;
}

.card-3 {
    position: absolute;
    top: 50%;
    left: 68%;
}

.btn-1 {
    background-color: #636b46;
    color: #e9e7da;
    text-align: center;
    font-weight: bold;
}

.btn-2 {
    background-color: #636b46;
    color: #e9e7da;
    text-align: center;
    font-weight: bold;
}

.btn-3 {
    background-color: #636b46;
    color: #e9e7da;
    text-align: center;
    font-weight: bold;
}